<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Minimal configuration</title>
        <input-field type="checkbox">
            <name>showWhenLoggedIn</name>
            <label>Preise anzeigen, wenn der Nutzer angemeldet ist</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="text-editor">
            <name>htmlShownWhenNotLoggedIn</name>
            <label>HTML Das beim Nutzer angezeigt wird, wenn er nicht angemeldet ist.</label>
            <defaultValue>
                <h1>false</h1>
            </defaultValue>
        </input-field>
    </card>
</config>